**/.venv
*.env
*.db
*.sock
*.pid
*.log
*.access.log
*.error.log
*.gunicorn.log
*.gunicorn.access.log
*.gunicorn.error.log
*.gunicorn.pid


instance/*
.browsers/
.browser-profiles/

node_modules/
.node_modules/

.pre-rewrite/

**/__pycache__/**
*.session.sql
