BACKEND_BASE_URL=http://localhost:5000
GOOGLE_CLIENT_ID=change-me-dev-secret
GOOGLE_CLIENT_SECRET=change-me-dev-secret

GUNICORN_RELOAD=1
TEMPLATES_AUTO_RELOAD=true
LOG_LEVEL=DEBUG 

WEB_WORKERS=1
JWT_SECRET=change-me-dev-secret

SOCKETIO_MESSAGE_QUEUE=redis://127.0.0.1:6379/0